@media (max-width: 768px) {
  .background {
    transform: translateY(0);
  }

  .navbar {
    display: flex;
  }

  .menu li a {
    display: none;
  }

  .services {
    transform: translateY(-100px);
    height: 200px; /* melhor que 150px (evita cortar) */
    width: calc(100% - 1rem); /* margem pequena */
    padding: 1rem;
  }

  .services h1 {
    font-size: 1rem;
    margin-top: 0;
  }

  .options {
    transform: translateY(-20px);
  }

  .options h2 {
    font-size: 0.95rem;
    height: 30px;
  }

  .box,
  .box2,
  .box3 {
    width: 30dvw;
    height: 25dvh;
  }

  .icon-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon {
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 5rem;
    height: 5rem;
  }

  /* Main Content */

  .main-content {
    margin-top: 2rem;
  }

  .main-content h1 {
    font-size: 1.3rem;
  }

  .grid {
    margin: 0;
    margin-top: -10px;
    padding: 0 2rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "ad1"
      "ad1-img"
      "ad2"
      "ad2-img"
      "ad3"
      "ad3-img";

    gap: 1rem;
  }
  .ad1 {
    grid-area: ad1;
  }
  .ad1-img {
    grid-area: ad1-img;
  }
  .ad2 {
    grid-area: ad2;
  }
  .ad2-img {
    grid-area: ad2-img;
  }
  .ad3 {
    grid-area: ad3;
  }
  .ad3-img {
    grid-area: ad3-img;
  }

  .grid div h2 {
    font-size: 1.2rem;
  }

  .grid div p {
    max-width: 100%;
    font-size: 1rem;
    font-family: var(--glacial);
  }

  .img-grid {
    width: 100%;
    object-fit: cover;
  }

  .backdrop {
    height: 300dvh;
  }
  /* Seção de serviços */

  .process {
    margin-top: 2rem;
  }
  .grid-process {
    grid-template-columns: repeat(1, 1fr);
  }

  .box_,
  .box2_ {
    width: 80dvw;
    height: 50dvh;
    color: var(--inverse-text);
  }

  .title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }

  /*  footer */

  .footer {
    padding: 2rem 1rem;
  }

  .footer .info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 768px) {
  .menu {
    display: none; /* some com o menu inteiro */
  }

  .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-btn img {
    width: 28px;
    height: 28px;
  }

  .logo {
    width: 8rem;
  }
}
