@media (max-width: 768px) {
  .background {
    transform: translateY(0);
  }

  .navbar {
    display: flex;
  }

  .menu li a {
    display: none;
  }

  .menu-btn {
    display: block;
    width: 20px;
    height: 20px;
  }

  .services {
    transform: translateY(-100px);
    height: 150px;
    margin: 0 0.5rem;
  }

  .services h1 {
    font-size: 1rem;
    margin-top: 0;
  }

  .options {
    transform: scaleY(-120px);
  }

  .options h2 {
    font-size: 0.95rem;
    padding-top: 10px;
  }

  .box,
  .box2,
  .box3 {
    width: 150px;
    height: 150px;
  }

  .icon-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon {
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 2rem;
    height: 2rem;
  }

  .main-content {
    display: none;
  }

  .process {
    display: none;
  }

  footer {
    display: none;
  }
}
