:root {
  --primary-color: #1b132a;
  --second-color: #361d66;
  --main-text: #2a2a2a;
  --inverse-text: #f2f2f2;
  --main-padding: 1rem 2rem;
  --raleway: "Raleway", sans-serif;
  --glacial: "GlacialIndifferenceRegular", sans-serif;
}

/* aplica em tudo */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* altura da sua navbar + um respiro */
#services,
#advantages,
#workjourney,
#end {
  scroll-margin-top: 110px;
}

#services:focus {
  background-color: red;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* evita scroll lateral por 1px/2px */
  scroll-behavior: smooth;
}

/* Menu Retrátil */

#closed,
#opened {
  position: fixed;
  transition: all 0.3s ease-in-out;
  padding: 8rem 0;
  height: 100vh;
  z-index: 9;
}

#closed {
  transform: translatex(-350px);
}

#opened {
  background-color: #1b132a;
  opacity: 0.98;
  width: 350px;
}

.menu-retratil ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}
.menu-retratil li a {
  font-family: var(--raleway);
  color: var(--inverse-text);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  font-size: 1.5rem;
}

/* Header */

.background {
  padding-top: 5rem;
  display: block; /* evita espaços estranhos de img inline */
  width: 100%;
  max-width: 100%; /* em vez de 100vw */
  height: auto;
  position: relative;
  z-index: -1;
  transform: translateY(-200px);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 100%;
  background-color: var(--primary-color);
  padding: var(--main-padding);
  position: fixed;
  z-index: 999;
}

.navbar a.active,
.menu-retratil a.active {
  background: rgba(60, 24, 218, 0.15);
  padding: 0.35rem 0.7rem;
  border-radius: 6px;
}

.logo {
  width: 200px;
  z-index: 10;
  height: auto;
}

.menu {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  font-size: 1.2rem;
}

.menu li a {
  font-family: var(--raleway);
  color: var(--inverse-text);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

/* Serviços */

.services {
  position: relative;
  background-color: var(--second-color);

  /* em vez de max-width:100% + margin */
  width: min(1800px, calc(100% - 4rem));
  margin: 0 auto;

  height: 450px;
  transform: translateY(-500px);
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.services h1 {
  font-family: var(--raleway);
  color: var(--inverse-text);
  flex-direction: 1;
  margin: 2.5rem 0;
}

.options {
  flex: 2;
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}

.options h2 {
  font-family: var(--raleway);
  color: var(--inverse-text);
  font-weight: bold;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  margin: 0;
  background-color: rgba(111, 0, 255, 0.253);
}

.box,
.box2,
.box3 {
  flex: 1 1 280px; /* cresce, encolhe, mínimo */
  max-width: 500px; /* limita pra não ficar gigante */
  height: 500px;
}

.box {
  background-color: #e5d8ff;
}

.box2 {
  background-color: #d9c4ff;
}

.box3 {
  background-color: #cbafff;
}

.icon-div {
  width: 100%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  object-fit: cover;
  aspect-ratio: 1/1;
  width: 10rem;
  height: 10rem;
}

/* Vantagens */

.main-content {
  margin-top: -15rem;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-content h1 {
  font-family: var(--raleway);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 6rem;
  max-width: 100%;
  padding: 2rem;
  justify-content: space-between;
  align-items: flex-start;
}

.grid div p {
  max-width: 750px;
  text-align: justify;
  font-size: 1.5rem;
  font-family: var(--glacial);
}

.grid div h2 {
  font-size: 2rem;
  font-family: var(--raleway);
}

.button-content {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  background-color: none;
}

.button-content button,
.button_content button {
  padding: 0.5rem 2rem;
  border: none;
  background: #40b340;
  color: var(--inverse-text);
  border-radius: 2px;
  margin-top: 1rem;
  font-weight: 600;
  margin-top: 1rem;
  font-family: var(--raleway);
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.button-content button:hover,
.button_content button:hover {
  transform: scale(1.03);
  background-color: #56c556;
}

.img-grid {
  width: 800px;
  max-height: 500px;
  object-fit: cover;
  margin: 0 auto;
}

/* Seção de Processo */

.process {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -300px;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 700px;
  z-index: -1;
  background-color: var(--second-color);
}

.process h2 {
  z-index: 2;
  font-size: 2rem;
  color: var(--inverse-text);
  font-family: var(--raleway);
}

.grid-process {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem 0;
}

.box_,
.box2_ {
  width: 500px;
  height: 500px;
  color: var(--inverse-text);
}

.box_ > p,
.box2_ > p {
  padding: 0 2.5rem;
  font-size: 1.5rem;
  font-family: var(--glacial);
  font-weight: 400;
  text-align: justify;
}

.title-box {
  font-family: var(--raleway);
  color: var(--inverse-text);
  font-size: 1.7rem;
  font-weight: bold;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  margin: 0;
  background-color: rgba(111, 0, 255, 0.253);
}

.box_ {
  background-color: #ad7eff;
}
.box2_ {
  background-color: #9f69ff;
}

.button_content {
  position: relative;
}

/* Footer */
footer {
  position: relative; /* referência pro backdrop_ */
  margin-top: 350px;
  padding-bottom: 2rem; /* garante espaço abaixo do card */
}
/* o "card" do footer por cima, com margem lateral e embaixo */
.footer {
  position: relative;
  z-index: 1;

  width: min(1800px, calc(100% - 4rem)); /* 2rem de cada lado */
  margin: 0 auto 2rem; /* embaixo 2rem */
  padding: 5rem 2rem;

  background-color: var(--second-color);
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 3rem;
}
/* Logo (linha superior) */
.footer .headeer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer .info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.backdrop_ {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 450px; /* ajuste como quiser */
  background-color: #ad7eff;
  z-index: 0;
}
.footer .logo {
  width: 180px;
  height: auto;
}

/* Títulos */
.footer h2 {
  font-family: var(--raleway);
  font-size: 1.5rem;
  color: var(--inverse-text);
}

/* Textos */
.footer p {
  font-size: 1.3rem;
  line-height: 1.6;
  margin: 0;
  color: var(--inverse-text);
}

/* Listas */
.footer ul {
  color: var(--inverse-text);
  padding-left: 1rem;
  margin: 0;
}

.footer ul li {
  margin-bottom: 0.5rem;
}

/* Links */
.footer a {
  font-size: 1.3rem;
  color: var(--inverse-text);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
