:root {
    --primary-color: #1B132A;
    --second-color: #361D66;
    --main-text: #2a2a2a;
    --inverse-text: #F2F2F2;
    --main-padding: 1rem 2rem;
    --raleway: 'Raleway', sans-serif; 
    --glacial: 'GlacialIndifferenceRegular', sans-serif;
   
}


body {
    margin: 0;
    box-sizing: border-box;
}

/* Header */

.background {
    display: flex;
    max-width: 100%;
    height: auto;
    position: relative;
    top: -10rem;
    z-index: -1;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    background-color: var(--primary-color);
    padding: var(--main-padding);
}

.logo {
    width: 200px;
    height: auto;
}

.menu {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    font-size: 1.2rem;
}

.menu li a {
  font-family: var(--raleway);
  color: var(--inverse-text);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

/* Serviços */

.services  {
    position: relative;
    background-color: var(--second-color);
    max-width: 100%;
    height: 450px;
    top: -30rem;
    padding: 1rem 2rem;
    margin: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
} 
.services h1 { 
    font-family: var(--raleway);
    color: var(--inverse-text);
    flex-direction: 1;
    margin: 2.5rem 0;
}

.options {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options h2 {
    font-family: var(--raleway);
    color: var(--inverse-text);
    font-weight: bold;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    height: 50px;
    margin: 0;
    background-color: rgba(111, 0, 255, 0.253);
 
}

.box, .box2, .box3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 550px;
    height: 550px;
   
}

.box {
    background-color: #E5D8FF;
}

.box2 {
    background-color: #D9C4FF;
}

.box3 {
    background-color: #CBAFFF;
}

.icon-div {
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center

}

.icon {
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 150px;
    height: 150px;
}

/* Vantagens */

.main-content {
    margin-top: -15rem;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.main-content h1 {
    font-family: var(--raleway);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 800px);
    gap: 1rem 6rem;
    max-width: 100%;
    padding: 2rem;
    justify-content: space-between;
    align-items: flex-start;
}


.grid div p {
    max-width: 750px;
    text-align: justify;
    font-size: 1.5rem;
    font-family: var(--glacial);
}

.grid div h2 {
    font-size: 2rem;
    font-family: var(--raleway);
}

.button-content {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.button-content, .button_content button {
    padding: 0.5rem 2rem;
    border: none;
    background: #40b340;
    color: var(--inverse-text);
    border-radius: 2px;
    margin-top: 1rem;
    font-weight: 600;
    margin-top: 1rem;
    font-family: var(--raleway);
    font-size: 1.5rem;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.button-content,.button_content button:hover {
    transform: scale(1.03);
    background-color: #56c556;
}


.img-grid {
    max-width: 800px;
    max-height: 500px;
    object-fit: cover;
    margin: 0 auto;
}

/* Seção de Processo */

.process {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 3rem;
}

.backdrop {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
    background-color: var(--second-color);
}

.backdrop h2 {
    font-size: 2rem;
    color: var(--inverse-text);
    font-family: var(--raleway);
    margin-top: 3rem;
}

.grid-process {
    position: relative;
    top: -35rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem 0;
}

.box_, .box2_ {
    width: 500px;
    height: 500px;
    color: var(--inverse-text);
}

.box_ > p, .box2_ > p {
    padding: 0 2.5rem;
    font-size: 1.5rem;
    font-family: var(--glacial);
    font-weight: 400;
    text-align: justify;
}

.title-box {
    font-family: var(--raleway);
    color: var(--inverse-text);
    font-size: 1.7rem;
    font-weight: bold;
    width: 100%;
    padding-top: 15px;
    text-align: center;
    height: 50px;
    margin: 0;
    background-color: rgba(111, 0, 255, 0.253);
}

.box_ {
    background-color: #AD7EFF;
}
.box2_ {
    background-color: #9F69FF;
}

.button_content {
    position: relative;
    top: -33rem;
}